@model Models.ProductModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<div>
   <caption-view asp-title="Product Management"></caption-view>
    <form id="formProduct" asp-controller="Product" asp-action="Create" method="post">
        <div asp-validation-summary="All"></div>
        <input type="hidden" asp-for="ID" />
        
        <div style="float:left">
            <button type="button" onclick="Save()" class="btn btn-primary">Save</button>
            <button type="submit" class="btn btn-success">Save and Continue</button>
            <button type="submit" class="btn btn-secondary" asp-action="List" asp-controller="Product">Back</button>
        </div>
        <br />
        @Html.Partial("_CreateorUpdate.cshtml",Model)

        

    </form>
</div>

@section ViewScript
{
    <script>
        function Save() {

            if (!confirm("Are you sure?"))
                return;

            formProduct.submit();

        }
    </script>
}
